.jumbotron {
  padding-top: 6rem;
  background-color: rgb(157, 211, 157);
}

#projects {
  background-color: rgb(157, 211, 157);
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
